* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #3c3c3c;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.App {
  min-height: 96vh;
}